<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOALS</title>
    <link rel="icon" href="images/_13794220.png" type="image/x-icon">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="stylesforindex.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet">
</head>
<body>
    <header>
      <div class="logo-words">
        <span>Goals.App</span>
        <p class="intro">Lets help you achieve your goal</p>
      </div>
       <div class="login-signup">
        <a href="login" class="log">Login</a>
        <a href="signup" class="sign">Signup</a>
       </div>
    </header>


    <div class="intr">
      <p class="sub-header">
        Welcome to Goals.App: Your Ultimate Task Management Solution
      </p>
      <div class="for-image">
        <img src="images/file.png" alt="logo">
      </div>
    </div>
    <article class="features">
      <h3>Features</h3>
      <ul>
        <li><p>Task Creation</p>Quickly add tasks with due dates, priorities, and labels.</li>
        <li><p>Subtasks</p>Break down complex tasks into manageable subtasks.</li>
        <li><p>Recurring Tasks</p>Set tasks to repeat daily, weekly, or monthly.</li>
        <li><p>Notes</p>Add detailed notes to any task for additional context.</li>
        <li><p>Security</p>Enjoy peace of mind with our top-notch data encryption and security measures</li>

      </ul>
    </article>

</body>

</html>