<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOALS</title>
    <link rel="icon" href="/public/images/_13794220.png" type="image/x-icon">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="stylesForLogin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo-words">
            <span>Goals.App</span>
            <p class="intro">Lets help you achieve your goal</p>
        </div>
        <div class="login-signup">
            <a href="login" class="log">Login</a>
            <a href="signup" class="sign">Signup</a>
        </div>
    </header>
    <img class="first-img" src="images/for-login.png" alt="note pic">
    <img class="second-img" src="images/2nd-login-img.png" alt="note pic">

    <div class="signup-form">
        <form action="/login" method="post" id="login-form">
            <div class="signup-group">
                <label for="name">Enter Name</label>
                <input type="text" placeholder="Enter name" required name="name" autocomplete="off" class="sign-input">
            </div>
            <br><br><br><br>
            <div class="signup-group">
                <label for="password">Enter password</label>
                <span id="showPassword"><i class="fa fa-eye" aria-hidden="true"></i></span>
                <input type="password" placeholder="Enter password" required name="password" autocomplete="off"
                    class="sign-input-password" id="password">
            </div>
            <br>
            <br>
            <button type="submit" id="submit-form">Login</button>
            <p>Let`s sign you up. <a href="signup">signip?</a></p>
        </form>
    </div>



    <footer>
        &copy;2024
    </footer>




    <script>
        const passwordEye = document.getElementById("showPassword")
        const passwodInput = document.getElementById("password")
        // let password shown = false
        passwordEye.addEventListener("click", () => {
            if (passwodInput.type === "password") {
                passwodInput.type = "text"
            } else {
                passwodInput.type = "password"
            }
        })


        // to submit form
        document.getElementById("login-form").addEventListener("submit", async(event)=>{
            event.preventDefault();

            const formData = new FormData(event.target)
            const username = formData.get("name")
            const password = formData.get("password")






            const response = await fetch("/login",{
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                body: `name=${encodeURIComponent(username)}&password=${encodeURIComponent(password)}` // Include password field in the body
            })
            
            const data = await response.json()
            
            if(response.ok){
                // to save jwt token
                localStorage.setItem("accessToken", data.accessToken)

                // the authenticated request
                const accessToken = data.accessToken
                const authResponse = await fetch("/login",{
                    method: "GET",
                    headers: {
                        "Authorization": `Bearer ${accessToken}`
                    }
                });
                if(authResponse.ok){
                    const authData = await authResponse.json()
                    console.log(authData);
                    // redirect to home page with useername
                    window.location.href = `/home?username=${encodeURIComponent(username)}`;
                } else if(authResponse.status === 401){
                    alert("unathorized access. please login.")
                } else{
                    alert("an error occured")
                }
                
            } else if(response.status === 400){
                alert("Incorrect password")
            }else if(response.status === 404){
                alert("User not found")
            } else if(response.status === 500){
                alert("server Error")
            }

        })






    </script>

</body>

</html>